/* user-details.component.css */

div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    margin-bottom: 8px;
  }
  
  /* Agrega estilos adicionales según tus necesidades */
  